.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

.question1a{
	text-align:left;
}
.question1b{
	text-align:left;
}
.question2a{
	text-align:left;
}
.question2b{
	text-align:left;
}
