packrat/lib-R/
packrat/lib/
paper/figs/
paper/*.html
*.fff
*.tex
*.ttt
*_cache
.Rprofile
.Rproj.user
comgen-paper.Rproj
paper/generics-paper.pdf
paper/library.bib
packrat/lib*/
.Rhistory
paper/comgen-paper.pdf
