packrat/lib-R/
packrat/lib/
paper/*.html
paper/figs/
*.fff
*.ttt
*_cache
.Rprofile
.Rproj.user
*.Rproj
paper/generics-paper.pdf
paper/library.bib
packrat/lib*/
packrat/src*/
.Rhistory
paper/comgen-paper.pdf
models/*/results/*.csv
paper/*pdf
*/papaparse/
*/webppl-csv/
*.json
paper/coverletter.synctex.gz
*.aux
*.bbl
*.log
*.out
*.blg
*.synctex.gz
*.DS_Store
*.nb.html
paper/reviews/
paper/lang-gen_files*
paper/figs_png/
paper/figs__
paper/_lang-gen_files.zip
paper/appendix-alternativeRSAmodels.Rmd
paper/appendix-fullModelPosteriors.Rmd
paper/appendix-prevalencePrior.Rmd
paper/coverletter.tex
paper/gelman2007expt.Rmd
paper/listener-tasks.Rmd
paper/outline.Rmd
paper/response.tex
