packrat/lib-R/
packrat/lib/
paper/*.html
paper/figs/
*.fff
*.ttt
*_cache
.Rprofile
.Rproj.user
comgen-paper.Rproj
paper/generics-paper.pdf
paper/library.bib
packrat/lib*/
packrat/src*/
.Rhistory
paper/comgen-paper.pdf
models/*/results/*.csv
paper/*pdf
*/papaparse/
*/webppl-csv/
*.json
paper/coverletter.synctex.gz
*.aux
*.bbl
*.log
*.out
*.blg
*.synctex.gz
