/*.slide {
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
/*	font-family: Century Gothic, sans-serif;
*/	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    overflow: scroll;
}*/
#legal {
	font-family: ‘Times New Roman’, Times, serif;
	font-size: 0.8em;
	text-align: justify;
	padding-left: 0px;
	padding-right: 0px;

}
